body{margin:0;padding:0;font-family:"Microsoft YaHei","Open Sans",Arial,"Hiragino Sans GB","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;background-color:#f6f5f5;color:rgba(0,0,0,0.8);font-size:100%;-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility;line-height:1.5;word-wrap:break-word}
a{text-decoration: none}
button,input{font-family:"Microsoft YaHei","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif}
input[type="submit"],input[type="reset"],input[type="button"],button {-webkit-appearance: none;}
*{box-sizing: border-box;}
::-webkit-input-placeholder{color:rgba(0,0,0,.6)}::-moz-placeholder{color:rgba(0,0,0,.6)}:-ms-input-placeholder{color:rgba(0,0,0,.6)}
.loginbox{position:relative;background: #fff;width: 450px;margin:100px auto 0;border-radius: 5px;padding:40px 0 60px;text-align: center;}
.loginbox .part{max-width: 320px;width:100%;display: inline-block;}
.loginbox h2{font-size:28px;text-align:center;margin:20px auto;}
.loginbox h2 img{width:80px;height:auto;border:none;border-radius: 50%;}
.loginbox p{margin:0;}
.loginbox .input-item{margin-bottom:10px; position: relative;}
.loginbox .input-item .icon{position: absolute;left: 10px;top:10px;}
.loginbox .input-submit{margin-bottom:6px;}
.loginbox .input-submit .submit{font-size:14px;background:#ff5f33;color:#fff;width:100%;border:none;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;padding:12px 0;cursor:pointer}
.loginbox .input-submit .submit:hover{opacity: .8}
.loginbox .input-item .input-control{padding:13px 12px 13px 33px;border:none;width:100%;border:1px solid #eaeaea;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;}
.loginbox .input-item .captcha-clk2{position:absolute;top:1px;right:1px;cursor: pointer;height: 43px;}
.loginbox .input-item .captcha-clk, .loginbox .input-item .captcha-sms-clk{position:absolute;cursor:pointer;font-size:13px;color:#ff5f33;display:inline-block;top:13px;right:15px;cursor: pointer;}
.loginbox .input-item .captcha-clk.disabled, .loginbox .input-item .captcha-sms-clk.disabled{cursor:auto;opacity: .7;}
.loginbox .input-item .invitation-link{position:absolute;top:14px;right:10px;font-size:13px;color:#999}
.loginbox .safe{margin-bottom:30px;margin-top:15px;overflow:hidden;text-align: left;}
.loginbox .safe a{font-size:13px;color: #505050;float: left;}
.loginbox .safe .signup-loader, .loginbox .safe .signsms-loader{float:right}
.loginbox .sign-tips, .loginbox .sign-tip{font-size:8px;color:#f42;margin-bottom:10px;margin-top: -4px;display:none}
.loginbox .mpPart .sign-tips{text-align: center;margin-top: 5px;}
.loginbox .sign-tips a{display: none;}
.loginbox .regSuccess{font-size:14px;text-align:center;margin-top:90px;}
.loginbox .social-login{text-align:center;font-size: 12px;}
.loginbox .social-login .social-title{margin-bottom: 20px;}
.loginbox .social-login span{color:#aaa;position: relative;}
.loginbox .social-login span:before{top: 9px;left: -105px;}
.loginbox .social-login span:after{top: 9px;right: -105px;}
.loginbox .social-login span:before, .loginbox .social-login span:after{position: absolute;content: '';border-bottom: rgba(0,0,0,0.06) 1px solid;box-shadow: 0 1px rgba(255,255,255,0.5);width: 90px;}
.sign-social .login-qq,.sign-social .login-weibo,.sign-social .login-weixin{opacity:0.85;filter:alpha(opacity=85);color:#fff;font-size:22px;text-align:center;width:40px;height:40px;line-height:40px;border-radius:50%;text-align:center;margin:0 1%;display: inline-block;}
.sign-social .login-qq{background-color:#3F92D6;}
.sign-social .login-weibo{background-color:#FF766C;}
.sign-social .login-weixin{background-color:#40C34A}
.sign-social .login-qq:hover,.sign-social .login-weibo:hover,.sign-social .login-weixin:hover{color:#fff;opacity:1;filter:alpha(opacity=100)}
.sign-social .icon{font-size: 22px;top:0;}
.form-policy{margin-top: 5px;font-size: 12px;color:#999;text-align: left;}
.form-policy input{position: relative;top:2px;margin:0;}
.left{float:left;}
.right{float:right;}
.erphp-weixin-scan{text-align: center;z-index: 99}
.erphp-weixin-scan img{margin:10px 0;border-radius: 3px;}

.expend-container{position: absolute;right: 0;top: 0;cursor: pointer;z-index: 1;}
.expend-container:after{content: ' ';position: absolute;right: 1.2rem;top: 1.2rem;z-index: 2;border-top: 1px rgba(0, 0, 0, 0.2) solid;height: 6rem;width: 6rem;background: #fff;transform: rotate(45deg);transition: all 0.4s;}
.expend-container:hover:after{right: 1.4rem;top: 1.4rem;}
.expend-container a{display: inline-block;}
.expend-container svg{fill: #999}

.return-home{text-align: center;position: absolute;bottom: -30px;left: 0;right: 0;color: rgba(0,0,0,.7);font-size: 14px;}

body.night{background: #1c1f2b;color: #bdcadb;}
body.night .loginbox{background: #232735}
body.night .loginbox .input-item .input-control{background: #33394e;border-color:#33394e;color:#bdcadb;}
body.night ::-webkit-input-placeholder{color:#bdcadb}body.night ::-moz-placeholder{color:#bdcadb}body.night :-ms-input-placeholder{color:#bdcadb}
body.night .loginbox .safe a{color:#666e8e;}
body.night .loginbox .social-login span{color: #bdcadb;}
body.night .expend-container:after{background: #232735}
body.night .return-home{color: #bdcadb;}
body.night .form-policy{color: #bdcadb;}
body.night .form-policy a{color:#666e8e;}

@media (max-width: 640px){
	body{padding:0 10px;}
	.loginbox{width: 100%;padding:40px 15px;margin:40px 0 0;}
}